<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if user_admin?(user) %>
    <div style="float:right">
      <%= link_to t("delete"), user, method: :delete, data: {confirm: t("you_sure")}, style: "color:red" %>
    </div>
  <% end %>
</li>
